html,
body {
  margin: 0;
  font-family: 'Noto Sans KR', "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
}
body, html {
padding: 0;
margin: 0;
width: 100%;
min-height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.spacer {
  flex: 1 1 auto;
}

.full-height {
  height: 100%;
}

.hidden {
  visibility: hidden;
}

h2 {
  color: rgb(49, 59, 83);
  font-size: 22.5px;
  padding: 0;
}

h3 {
color: rgb(55, 66, 94);
padding: 0;
}

